name: CI
on:
  push:
    branches:
      - main
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-20.04
    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Setup Theos
        uses: randomblock1/theos-action@v1

      - name: Build Tweak
        run: |
          sed -i '1d' Tweak.x || true
          make package FINALPACKAGE=1
          
      - name: Upload Result
        uses: actions/upload-artifact@v4
        with:
          name: Akgram-Final
          path: packages/*.deb
